version: 2.1
jobs:
  run_test:
    docker:
      - image: circleci/python:3.7.4
    steps:
      - checkout
      - run:
          name: "Install Python Dependencies 1"
          command: echo 'export PATH=~$PATH:~/.local/bin' >> $BASH_ENV && source $BASH_ENV
      - run:
          name: "Install Python Dependencies 2"
          command: pip install --user -r requirements.txt
      - run:
          name: "Run Unit Tests"
          . venv/bin/activate
          mkdir test-results
          command: pytest -- junitxml=test-reports/junit.xml --html=test-reports/pytest_report.html --self-contained-html
      - store_test_results:
          path: test-reports
      - store_artifact:
          path: test-reports
workflows:
  version: 2.1
  build-tests:
    jobs:
      - run_test
